<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each= "user : ${users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.registerNumber}"></td>
        <td th:text="${user.maritalStatus}"></td>
        <td th:text="${user.street}"></td>
        <td th:text="${user.houseNumber}"></td>
        <td th:text="${user.zip}"></td>
        <td th:text="${user.location}"></td>
    </tr>
</table>
</body>
</html>